<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/logo.png" alt="" width="90">
  <h1 class="display-5 fw-bold text-body-emphasis">ELOGIQ</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Iscrivi la tua azienda, carica i prodotti, assegna facilmente sconti per quantità e lascia che Elogiq calcoli per te l’EOQ ideale. Grazie all’analisi delle vendite degli anni precedenti, la piattaforma prevede il fabbisogno annuale ottimale, riduce i costi di stock e massimizza i profitti—tutto in un’unica dashboard intuitiva.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="['/companies']">
        Vai alla lista delle aziende >>
      </button>
    </div>
  </div>
</div>
