<div>
  @if (store.selectedCompany(); as company) {
    <ng-container
      [ngTemplateOutlet]="companyInfo"
      [ngTemplateOutletContext]="{company: company}"
    />
  } @else if (store.error()) {
    <div class="bg-danger p-3 rounded text-danger-emphasis">
      <h2>Si è verificato un errore</h2>
      <h5>{{store.error()}}</h5>
    </div>
  } @else { <app-loading></app-loading> }
</div>

<ng-template #companyInfo let-company="company">
  <div class="row">
    <div class="col-3">
      <p class="fw-bold">#ID</p>
      <p>{{company.id}}</p>
    </div>
    <div class="col-4">
      <p class="fw-bold">Nome</p>
      <p class="text-nowrap">{{company.name}}</p>
    </div>
    <div class="col-5">
      <p class="fw-bold">Settore</p>
      <p class="text-nowrap">{{company.sector.name}}</p>
    </div>
  </div>
  <h3 class="mt-3 mb-3">Prodotti</h3>
  @if (company.products.length > 0) {
    <ng-container [ngTemplateOutlet]="productsInfo" [ngTemplateOutletContext]="{products: company.products}" />
    <div class="d-flex flex-column align-items-center d-lg-none pulse mt-3">
      <p class="text-center text-secondary mb-0 fs-6">Puoi scorrere la tabella</p>
      <div class="d-flex align-items-center text-secondary app-h-0 mt-2">
        <i class="bi bi-arrow-left fs-5 me-1"></i>
        <div class="dot dot-1 bg-secondary me-1 fs-5"></div>
        <i class="bi bi-arrow-right fs-5 "></i>
      </div>
    </div>
  } @else { <h3>Non ci sono prodotti</h3> }
</ng-template>

<ng-template #productsInfo let-products="products">
  <div class="table-responsive" #table>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Prezzo</th>
        <th scope="col">Fasce di prezzo</th>
        <th scope="col">EOQ</th>
      </tr>
      </thead>
      <tbody>
        @for (product of products; track product.name; let index = $index) {
          <tr role="button" (click)="showEOQ(modal, index)">
            <th scope="row">{{product.id}}</th>
            <td class="text-nowrap">{{product.name}}</td>
            <td style="min-width: 300px;">{{product.description}}</td>
            <td>{{product.price | currency: 'EUR' : 'symbol' : '1.2-2'}}</td>
            <td>
              <ng-container [ngTemplateOutlet]="priceTiersInfo" [ngTemplateOutletContext]="{tiers: product.priceTiers}" />
            </td>
            <td style="min-width: 300px;">
              @if (productInfo[product.id]) {
                <div class="mb-3">
                  @if (productInfo[product.id].holdingCost) {
                    <small><span class="badge rounded-pill text-bg-primary me-2">Costo di mantenimento: {{productInfo[product.id].holdingCost | currency: 'EUR' : 'symbol' : '1.2-2'}}</span></small>
                  }
                  @if (productInfo[product.id].setupCost) {
                    <small><span class="badge rounded-pill text-bg-success me-2">Costo d'ordine: {{productInfo[product.id].setupCost | currency: 'EUR' : 'symbol' : '1.2-2'}}</span></small>
                  }
                  @if (productInfo[product.id].annualDemand) {
                    <small><span class="badge rounded-pill text-bg-info">Domanda annua: {{productInfo[product.id].annualDemand}}</span></small>
                  }
                </div>
              }
              @if (product.eoq) {
                <ng-container [ngTemplateOutlet]="eoqInfo" [ngTemplateOutletContext]="{eoq: product.eoq, predicted: false}" />
              } @else if (product.eoqPre) {
                  <ng-container [ngTemplateOutlet]="eoqInfo" [ngTemplateOutletContext]="{eoq: product.eoqPre, predicted: true}" />
              } @else { <span>Nessuna dato per calcolare l'EOQ</span> }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #priceTiersInfo let-tiers="tiers">
  @for (tier of tiers; track tier.id; let i = $index) {
    <div class="row m-0 flex-nowrap">
      <div class="col-5 text-nowrap">
        {{ tier.minQuantity }}<small>+ unità</small>
      </div>
      <div class="col-2">
        <i class="bi bi-arrow-right"></i>
      </div>
      <div class="col-5">
        <span>{{tier.unitPrice | currency: 'EUR' : 'symbol' : '1.2-2'}}</span>
      </div>
    </div>
  } @empty {
    <div class="row m-0 flex-nowrap">
      <div class="col text-nowrap">
        <span>Nessuna fascia di prezzo</span>
      </div>
    </div>
  }
</ng-template>

<ng-template #eoqInfo let-eoq="eoq" let-predicted="predicted">
  <div class="row">
    <div class="col text-nowrap">
      EOQ
      @if (predicted) {
        <span class="text-danger" placement="top" ngbTooltip="Predetto in base ai dati di vendita passati">
          <i class="bi bi-graph-up"></i></span>
      }
    </div>
    <div class="col">{{ eoq.eoq}}</div>
  </div>
  <div class="row">
    <div class="col">Prezzo unità</div>
    <div class="col">{{ eoq.reqUnitPrice | currency: 'EUR' : 'symbol' : '1.2-2' }}</div>
  </div>
  <div class="row">
    <div class="col">Costo totale</div>
    <div class="col">{{ eoq.totalCost | currency: 'EUR' : 'symbol' : '1.2-2' }}</div>
  </div>
  @if (eoq.bestMinQuantity) {
    <hr />
    <div class="row">
      <div class="col">Quantità ottimale</div>
      <div class="col">{{ eoq.bestMinQuantity }}</div>
    </div>
    <div class="row">
      <div class="col">Prezzo unità</div>
      <div class="col">{{ eoq.unitPrice | currency: 'EUR' : 'symbol' : '1.2-2' }}</div>
    </div>
    <div class="row">
      <div class="col">Costo totale ottimale</div>
      <div class="col">{{ eoq.bestTotalCost | currency: 'EUR' : 'symbol' : '1.2-2'  }}</div>
    </div>
  }
</ng-template>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{product.name}}: calcolo EOQ</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="border-size-5 border-start border-info p-2 bg-info-subtle mb-3">
      <small class="fw-lighter">Senza "Domanda annua" è possibile avere una predizione della domanda annuale di quest'anno</small>
    </div>
    <div class="d-flex align-items-center mb-3">
      <app-form [controls]="formControls" (formSubmittedOutput)="onSubmit($event, product.id)" [isLoading]="isLoading | async" [light]="false"></app-form>
    </div>
    <div class="mt-5">
      <h4 class="mb-4">Dati di vendita</h4>
      <div class="row">
        @for (year of productSales; track year) {
          <div class="col-12 col-lg-6">
              <table class="table table-sm">
                <tbody>
                <tr class="border-white">
                  <td class="fw-bold fs-5 pt-0">{{year[0]}}</td>
                  <td class="p-0 pb-4">
                    <table class="table table-sm mb-0">
                      <tbody>
                        @for (month of year[1]; track month) {
                          <tr>
                            <td style="min-width: 130px;">{{month[0]}}</td>
                            <td>{{month[1]}}</td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
          </div>
        }
      </div>
    </div>
  </div>
</ng-template>

