<div class="d-flex d-lg-none h-100 justify-content-center align-items-center p-3 bg-primary position-relative">
  <div class="d-flex p-3 pt-5 position-absolute top-0 start-50 translate-middle-x">
    <img src="assets/logo-white.png" width="100">
  </div>

  <div class="p-5 d-flex flex-column rounded shadow bg-body">
    <app-form [controls]="loginFormControls" (formSubmittedOutput)="onSubmit($event)"
              [(error)]="error" [isLoading]="isLoading | async" [horizontal]="false"
              [light]="false"></app-form>
  </div>
</div>

<div class="d-none d-lg-flex h-100 justify-content-center align-items-center bg-primary position-relative">
  <div class="d-flex p-3 pt-5 position-absolute top-0 start-50 translate-middle-x">
    <img src="assets/logo-white.png" width="100">
  </div>

  <div class="w-50 p-5 d-flex flex-column rounded shadow bg-body">
    <app-form [controls]="loginFormControls" (formSubmittedOutput)="onSubmit($event)"
              [(error)]="error" [isLoading]="isLoading | async" [horizontal]="false"
              [light]="false"></app-form>
  </div>
</div>
