<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">

      @for (control of controls(); track control) {
        <div class="col-12 mb-3">
          <app-form-control [control]="control" [form]="form"
                            [horizontal]="horizontal()"></app-form-control>
        </div>
      }

      <div class="col-12 d-flex justify-content-end">
        <button *ngIf="!isLoading()" type="submit" class="btn"
                [ngClass]="{'w-100': !horizontal(), 'btn-outline-light': light(), 'btn-outline-primary': !light()}"
                [disabled]="!form.valid">Invia</button>
        <button *ngIf="isLoading()" class="btn btn-outline-light"
                [ngClass]="{'w-100': !horizontal(), 'btn-outline-light': light(), 'btn-outline-primary': !light()}"
                type="button" disabled>
          <span class="spinner-grow spinner-grow-sm me-2" aria-hidden="true"></span>
          <span role="status">Attendere...</span>
        </button>
      </div>

    </div>
  </form>

  <p *ngIf="error()" class="text-danger m-0 mt-2">
    Errore: {{error()}}
  </p>
</div>
